.carousel-inner, .carousel-item {
    height: 100vh;
    margin-top: 15px;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
  .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul{
    padding: 0;
  }
  
  li {
    list-style-type: none;
  }
  
  footer {
    background: #eff2f5;
  }
  
  input {
    background: none;
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
  }
  
  .harbinger i{
    font-size: 38px;
    margin-right: 20px;
    margin-top: 20px;
  }